@model CustomerTrackerModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.CustomerTrackers.EditCustomerTrackerDetails").Text;
    //active menu item (system name)
    //NopHtml.SetActiveMenuItemSystemName("CustomerTrackers");
    Layout = "~/Areas/Admin/Views/Shared/_ConfigurePlugin.cshtml";
}

<form asp-controller="CustomerTracker" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.CustomerTrackers.EditCustomerTrackerDetails") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.CustomerTrackers.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="CustomerTracker-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.Customer/Views/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="CustomerTracker-delete" />
