@model ArticleModel

@{
    Layout = "_AdminLayout";
    ViewBag.PageTitle = T("Admin.NopStation.Documentation.Articles.EditDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Documentation.Articles");
}

<form asp-controller="DocumentArticle" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.Documentation.Articles.EditDetails")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.NopStation.Documentation.Articles.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <button type="button" id="article-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="article-delete" />